<aside class="sidebar">
    <nav>
        <ul>
            <li{% if page.url == '/' %} class="active"{% endif %}><a href="/">Home</a></li>
            <li{% if page.url == '/about/' %} class="active"{% endif %}><a href="/about/">About</a></li>
            <li{% if page.url == '/trade-tracker/' %} class="active"{% endif %}><a href="/trade-tracker/">Trade Tracker</a></li>
            <li{% if page.url == '/beginner-guide/' %} class="active"{% endif %}><a href="/beginner-guide/">Beginner Guide</a></li>
        </ul>
    </nav>
</aside>
