{% include header.html %}
<div class="container">
  {% include sidebar.html %}
  <main class="content">
    <h1>{{ page.title }}</h1>
    <p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
    {{ content }}

    <div class="wrapper">
      <h2>💬 Comments</h2>
       <script src="https://giscus.app/client.js"
        data-repo="astromub/silver-umbrella"
        data-repo-id="R_kgDOQRvM4Q"
        data-category="General"
        data-category-id="DIC_kwDOQRvM4c4CxvNS"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_high_contrast"
        data-lang="en"
        crossorigin="anonymous"
        async>
     </script>
    </div>
  </main>
</div>
{% include footer.html %}
